<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Services</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="box">
        <div class="card">
            <form method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <input type="text" placeholder="UserName" name="username" id="username">
            <input type="password" placeholder="password" name="pass" id="password">
            <button>Submit</button><br>
            <span>New User?<a href="{%url 'sigup' %}">sign up</a></span>
        </form>
        </div>
    </div>
</body>
</html>