
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Services</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="box">
        <div class="card">
            <h1>Verify OTP</h1>
            <form method="post">
              {% csrf_token %}
              <input type="text" name="otp" placeholder="Enter OTP" />
              <button type="submit">Verify</button>
            </form>
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
        </div>
    </div>
</body>
</html>